# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=

# APP_URL: The URL where this applet is hosted.
APP_URL=

# EVOLUTION API CONFIGURATION
EVOLUTION_API_URL=https://n8n-evolution-api.iqfos1.easypanel.host
EVOLUTION_API_KEY=ASDAFAWDASFSEFSDFDFSDFSFESFSDFSEFSEFS
EVOLUTION_INSTANCE_NAME=teste1

# SUPABASE CONFIGURATION
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
